/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f8f8f8;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.forms {
    display: flex;
    gap: 20px;
}

.form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 400px;
}

.form header {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    color: #043d76;
}

.field {
    margin-bottom: 20px;
}

.input-field input,
.input-field textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

/* .input-field textarea {
    resize: none;
} */

.button-field button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #EA5141;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-field button:hover {
    background-color: #EA3C20;
}


/* Responsive */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .form {
        width: 80%;
    }
}
